body{
    font-family: Arial, Helvetica, cursive !important;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0px !important;
}
.body-error{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #051937, #00203c, #00273f, #002e41, #003443);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify{
    color: red;
    animation: notifyAnimation 1s infinite linear;
}
@keyframes notifyAnimation{
    0%{
        color: orange;
    }
    100%{
        color: red;
    }
}
.error-btn{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 100px !important;
    animation: btnAnimation 1s infinite linear;
}
@keyframes btnAnimation{
    0%{
        transform: rotate(5deg);
    }
    20%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}
.error-title{
    font-size: 7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.mess-404{
    font-size: 2rem;
}
.error-mess{
    text-align: center;
}
.table-user{
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.form-label{
    font-weight: bold;
}
button{
    box-shadow: 2px 2px 10px black;
}
.nav-link{
    color: white !important;
}
.link-menu{
    color: white;
    font-weight: bold;
}
.link-menu:hover{
    font-style: italic;
    color: white;
}
.navbar-brand{
    color: white !important;
}
.table-user .fullname-user{
    color: rgb(122, 94, 0);
    font-style: italic;
    text-decoration: underline;
}
.table-user a:hover{
    text-decoration: none;
}
.tfoot{
    position: absolute;
}
.tfoot-right{
    right: 0;
}
.tfoot-left{
    position: absolute;
    left: 0px;
    top:0;
    transform: translate(-120%);
}
.user-contain{
    display: flex;
    align-content: center;
}
.user-info-img{
    border: 1px rgba(153, 153, 153, 0.651) solid;
    border-radius: 10px;
}
.user-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
.user-info-key{
    font-weight: bold;
}
.pagination{
    margin: 0;
}